@model PasswordChangeViewModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
       
        <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Change Password</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                <form asp-controller="Home" asp-action="ChangePassword" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="OldPassword"></label>
                            <input type="password" asp-for="OldPassword" class="form-control" placeholder="Old Password">
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input type="password" asp-for="NewPassword" class="form-control" placeholder="New Password">
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPasswordConfirm"></label>
                            <input type="password" asp-for="NewPasswordConfirm" class="form-control" placeholder="New Password Confirm">
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</div>