
@{
    ViewData["Title"] = "PasswordConfirmation";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-xl-6">
            <div class="form-input-content">
                <div class="card login-form mb-0">
                    <div class="card-body pt-5">
                        <div class="alert alert-success">Password reset has been successfully done!.</div>
                        <p class="mt-5 login-form__footer"><a asp-controller="Home" asp-action="Login" asp-area="Client" class="btn btn-primary">Go To Login Page</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

