@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center" href="index.html"> <h4>Rosella</h4></a>
                            <form asp-controller="Home" asp-action="ResetPassword" asp-area="Client" method="post" class="mt-5 mb-3 login-input">
                                <div class="form-group">
                                    <input type="hidden" asp-for="EmailAddress" class="form-control" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <input type="hidden" asp-for="Token" class="form-control" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="Password" class="form-control" placeholder="New Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="New Password Confirmation">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button class="btn login-form__btn submit w-100">Unlock</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

